# 요구사항 분석 및 문제 정의

- 간단한 EDA와 관련된 함수를 학습
- BMI 데이터를 확인해 보고 잘 분류가 될 수 있는지 시각화
- KNN의 개념에 대해 학습
- KNN을 이용해서 학습
- 머신러닝 프로세스에 대해 학습

# 데이터 수집

In [2]:
import pandas as pd

bmi = pd.read_csv("./data/bmi_500.csv")

# EDA (탐색적 데이터 분석)

In [5]:
# 처음부터 일부 데이터를 확인
# 괄호안에 숫자를 입력하면 해당 숫자만큼 출력
bmi.head(9)

   Gender  Height  Weight            Label
0    Male     174      96          Obesity
1    Male     189      87           Normal
2  Female     185     110          Obesity
3  Female     195     104       Overweight
4    Male     149      61       Overweight
5    Male     189     104       Overweight
6    Male     147      92  Extreme Obesity
7    Male     154     111  Extreme Obesity
8    Male     174      90       Overweight

In [4]:
# 끝에서부터 일부 데이터를 확인
bmi.tail()

     Gender  Height  Weight            Label
495  Female     150     153  Extreme Obesity
496  Female     184     121          Obesity
497  Female     141     136  Extreme Obesity
498    Male     150      95  Extreme Obesity
499    Male     173     131  Extreme Obesity

In [6]:
# 데이터의 정보를 출력하는 함수
# 데이터의 수, 컬럼의 수, 컬럼의 특성/데이터 타입 - 결측치 확인
# Dtype : object(범주형), int / float (수치형)
bmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Label   500 non-null    object
dtypes: int64(2), object(2)
memory usage: 15.8+ KB

In [8]:
# 범주형 컬럼의 클래스의 목록을 출력하는 함수
print(bmi["Gender"].unique())

['Male' 'Female']

In [9]:
# 범주형 컬럼의 클래스별 갯수를 확인
# 데이터가 한쪽으로 치우쳐 있는 확인
print(bmi["Gender"].value_counts())

Female    255
Male      245
Name: Gender, dtype: int64

In [10]:
# 수치형 데이터의 편향 (치우침)을 확인하는 함수
print(bmi["Height"].skew())

-0.12191368980139153